.reveal.show {
  opacity: 1 !important;
  transform: translateY(0) scale(1) !important;
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

.animate-fadeUpSlow {
  animation: fadeUp 1.3s ease forwards;
}
